<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">커뮤니티 서비스</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {{#userName}}
        <span id="user">{{userName}}</span>
        <a href="/logout" class="btn btn-outline-success" role="button">Logout</a>
    {{/userName}}
    {{^userName}}
        <a href="/login" class="btn btn-outline-success" role="button">Login</a>
    {{/userName}}
</nav>